{% extends 'base.html' %}

{% block contentLeft %}
<form method="post">
  {% csrf_token %}
  <div class="card">
    <div class="card-header">
      <h5>Change Userstory</h5>
    </div>
    <div class="card-body pt-2">
      <div class="form-group">
        <label for="userstory_id">User Story</label>
        <input name="userstory" class="form-control" id="userstory_id" value="{{ userstory.UserStory_Full_Text }}" />
      </div>
      <!-- <div class="form-group">
        <label for="who_id">Role of actor (Who-)</label>
        <input name="who" type="text" class="form-control" id="who_id">
      </div> -->
    </div>
    <div class="card-footer">
      <button class="btn btn-warning">Submit</button>
    </div>
  </div>
</form>
{% endblock %}