{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block contentLeft %}
<form method="post" class="p-0">
  {% csrf_token %}
  <input type="hidden" name="status" value="{{ reportuserstory.type }}">
  <div class="card">
    <div class="card-header">
      <h5>Change Userstory</h5>
    </div>
    <div class="card-body pt-2">
      <div class="form-group">
        <label for="project">Project</label>
        <input type="text" class="form-control" disabled value="{{ userstory.Project_Name }}">
      </div>

      {% if improved_terms_show %}
      <div class="form-group">
        <label for="userstory_id">User Story</label>
        <input class="form-control" id="userstory_id" value="{{ userstory.UserStory_Full_Text }}" disabled />
      </div>
      {% else %}
      <div class="form-group">
        <label for="userstory_id">User Story</label>
        <div class="input-group mb-3">
          <input name="userstory" class="form-control" id="userstory_id" value="{{ userstory.UserStory_Full_Text }}" disabled />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="btn_clipboard_id"><i class="bi bi-clipboard"></i></button>
          </div>
        </div>
      </div>
      
      {% if reportterms_label %}
      <div class="form-group">
        <label for="userstory_id">Problematic term:</label>
        <div class="input-group mb-3">
          <input name="sbar_label" class="form-control"value="{{ reportterms_label.sbar_text|default:'' }}" disabled />
        </div>
      </div>
      {% endif %}

      {% if reportuserstory.type == 2 or reportuserstory.type == 7 %}
      <div id="list_form_story" class="my-2">
      </div>
      <button class="btn btn-primary btn-sm" id="add_story_id" type="button">Add Story</button>
      {% endif %}
      {% endif %}

      {% if improved_terms_show %}
      
      <div class="row" style="margin-top: 25px;">
        <div class="col-6">
          <strong>Problematic terms:</strong>
        </div>

        <div class="col-6 p-0">
          <strong>Improved terms:</strong>
        </div>

        {% if is_edit_role %}
        <div class="col-12 row">
          <div class="col-6">
            <div class="form-group">
              <label for="">{{ role_label }}</label>
              <input class="form-control role-problematic-1" placeholder="Role" disabled value="{{ userstory.Who_full.Who_action }}" />
              <input type="hidden" name="problematic_role" value="{{ userstory.Who_full.Who_action }}"/>
            </div>
          </div>  
          <div class="col-6">
            <div class="form-group">
              <label for="">{{ role_label }}</label>
              <select name="improved_role" id="role_id" class="form-control select2 role-improved-1">
                <option value="">Select Role</option>
                {% if role_list %}
                {% for item in role_list %}
                <option value="{{ item.role }}" {% if improved_role_select == item.role %}selected{% endif %}>{{ item.role }}</option>
                {% endfor %}
                {% else %}
                {% for item in role_custom_list %}
                <option value="{{ item.role }}" {% if improved_role_select == item.role %}selected{% endif %}>{{ item.role }}</option>
                {% endfor %}
                {% endif %}
              </select>
            </div>
          </div>
        </div>
        {% elif not is_edit_role and not reportuserstory.recommendation_type %}
        <div class="col-12 row">
          <div class="col-6">
            <div class="form-group">
              <label for="">{{ role_label }}</label>
              <input class="form-control role-problematic-2" placeholder="Role" disabled value="{{ userstory.Who_full.Who_action }}" />
              <input type="hidden" name="problematic_role" value="{{ userstory.Who_full.Who_action }}"/>
            </div>
          </div>  
          <div class="col-6">
            <div class="form-group">
              <label for="">{{ role_label }}</label>
              <select name="improved_role" id="role_id" class="form-control select2 role-improved-2">
                <option value="">Select Role</option>
                {% for item in role_custom_list %}
                <option value="{{ item.role }}" {% if improved_role_select == item.role %}selected{% endif %}>{{ item.role }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        {% endif %}

        {% if is_edit_action %}
        <div class="col-12 row">
          <div class="col-6">
            {% if reportterms %}
            <div class="form-group">
              <label for="">{{ action_label }}</label>
              {% if reportterms.problem_action %}
              <select name="problematic_action" id="problematic_action_1_id" class="form-control select2">
                {% for item in reportterms.problem_action %}
                <option value="{{item}}" {% if problematic_action_select == item %}selected{% endif %}>{{item}}</option>
                {% endfor %}
              </select>
              {% else  %}
              <input class="form-control action-problematic-1" placeholder="Action" disabled value="{{ reportterms.action }}" />
              <input type="hidden" name="problematic_action" value="{{ reportterms.action }}"/>
              {% endif %}
            </div>
            {% else %}
            <div class="form-group">
              <label for="action_id">{{ action_label }}</label>
              <input type="text" disabled id="action_id" class="form-control action-problematic-2" value="{{ reportuserstory.predicate|default:'' }}">
              <input type="hidden" name="problematic_action" value="{{ reportuserstory.predicate|default:'' }}">
            </div>
            <!-- <div class="form-group">
              <label for="">{{ action_label }}</label>
              <select class="form-control select2" name="problematic_action">
                <option value="">Select</option>
                {% for item in glossarys %}
                <option value="{{ item.Action_item }}">{{ item.Action_item }}</option>
                {% endfor %}
              </select>
            </div> -->
            {% endif %}
          </div>

          <div class="col-6">
            {% if reportterms %}
            <div class="form-group">
              <label for="">{{ action_improve_label }}</label>
              <select name="improved_action" class="form-control select2 action-improved-1">
                <option value="">Select Action</option>
                {% if reportterms.terms_actions %}
                {% for item in reportterms.terms_actions %}
                <option value="{{ item }}" {% if improved_action_select == item %}selected{% endif %}>{{ item }}</option>
                {% endfor %}
                {% else %}
                {% for item in keywords %}
                <option value="{{ item.keyword }}" {% if improved_action_select == item.keyword %}selected{% endif %}>{{ item.keyword }}</option>
                {% endfor %}
                {% endif %}
              </select>
            </div>
            {% else %}
            <div class="form-group">
              <label for="">{{ action_improve_label }}</label>
              <select name="improved_action" class="form-control select2 action-improved-2">
                <option value="">Select</option>
                {% for item in keywords %}
                <option value="{{ item.keyword }}" {% if improved_action_select == item.keyword %}selected{% endif %}>{{ item.keyword }}</option>
                {% endfor %}
              </select>
            </div>
            {% endif %}
            <div class="form-group mt-2">
              <div class="form-check mr-2">
                <input class="form-check-input" type="checkbox" id="gridCheck5" name="improved_action_new" {% if improved_action_new_on %}checked{% endif %}>
                <label class="form-check-label" for="gridCheck5">
                  add action keyword
                </label>
              </div>
              <input type="text" class="form-control" placeholder="example: read" name="improved_action_new_text" value="{% if improved_action_new_on %}{{ improved_action_select }}{% endif %}" />
            </div>
            {% if not reportterms and reportuserstory.recommendation_type == 5 and reportuserstory.type == 5 %}
            <div class="form-group mt-2">
              <label for="">Rewrite Predicate:</label>
              <input type="text" class="form-control" name="rewrite_predicate" value="{{ rewrite_predicate }}">
            </div>
            {% endif %}
          </div>
        </div>
        {% elif not is_edit_action and not reportuserstory.recommendation_type %}
        <div class="col-12 row">
          <div class="col-6">
            <div class="form-group">
              <label for="">{{ action_label }}</label>
              <select name="improved_action" class="form-control select2 action-improved-3">
                <option value="">Select Action</option>
                {% for item in glossary_custom_list %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="">{{ action_label }}</label>
              <select name="improved_action" class="form-control select2 action-improved-4">
                <option value="">Select Action</option>
                {% for item in keyword_custom_list %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      {% endif %}
    </div>
    <div class="card-footer">
      {% if reportuserstory.type == 2 or reportuserstory.type == 7  %}
      {% else %}
      <button class="btn btn-primary" name="submit_type" type="submit" value="preview"><i class="bi bi-binoculars"></i> Preview</button>
      {% endif %}
      <button class="btn btn-success" name="submit_type" type="submit" value="submit"><i class="bi bi-send"></i> Submit</button>
      <button type="button" class="btn btn-secondary" onclick="backHistory()"><i class="bi bi-arrow-left-circle"></i> Cancel</button>
      {% if new_userstory %}
      <div class="my-3">
        <input type="text" disabled class="form-control" value="{{ new_userstory }}">
      </div>
      {% endif %}
    </div>
  </div>
</form>
{% endblock %}

{% block styles %}
{{ block.super }}
{% endblock %}

{% block extrajs %}
{{ block.super }}
<script>
  const backHistory = () => {
    window.location.href = `/inputUS/report/list${window.location.search}`
  }

  const remote_user_story = (elem) => {
    console.log('elem', elem)
    $(`.${elem}`).remove();
  }

  $('#btn_clipboard_id').on('click', function(){
    const copyText = document.getElementById("userstory_id");
    copyText.select();
    copyText.setSelectionRange(0, 99999); // For mobile devices
    navigator.clipboard.writeText(copyText.value);
  })

  $(function(){

    const elem_list_story = $('#list_form_story')
    // elem_list_story.html(`
    //   <div class="form-group mt-2">
    //     <label for="userstory_id_1">User Story #1</label>
    //     <input name="userstory_list[]" class="form-control" id="userstory_id_1" />
    //   </div>
    // `)

    $('#add_story_id').on('click', function(){
      const elem_list_story = $('#list_form_story')
      const input_story = elem_list_story.find('input')
      if (input_story.length > 0){
        const index_story = input_story.length+1
        elem_list_story.append(`
          <div class="form-group mt-2 form-input-userstory-${index_story}">
            <label for="userstory_id_${index_story}">User Story #${index_story}</label>
            <div class="input-group mb-3">
              <input name="userstory_list[]" class="form-control" id="userstory_id_${index_story}" />
              <div class="input-group-append">
                <button class="btn btn-outline-danger" type="button" onclick="remote_user_story('form-input-userstory-${index_story}')">Remove</button>
              </div>
            </div>
          </div>
        `)
      } else {
        elem_list_story.html(`
          <div class="form-group mt-2">
            <label for="userstory_id_1">User Story #1</label>
            <input name="userstory_list[]" class="form-control" id="userstory_id_1" />
          </div>
        `)
      }
    })
  })
</script>
{% endblock %}