{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block contentLeft %}
<form method="post" class="p-0">
  {% csrf_token %}
  <input type="hidden" name="status" value="{{ request.GET.type }}">
  <div class="card">
    <div class="card-header">
      <h5>Change Userstory</h5>
    </div>
    <div class="card-body pt-2">
      <div class="form-group">
        <label for="project">Project</label>
        <input type="text" class="form-control" disabled value="{{ userstory.Project_Name }}">
      </div>

      {% if improved_terms_show %}
      <div class="form-group">
        <label for="userstory_id">User Story</label>
        <input class="form-control" id="userstory_id" value="{{ userstory.UserStory_Full_Text }}" disabled />
      </div>
      {% else %}
      <div class="form-group">
        <label for="userstory_id">User Story</label>
        <div class="input-group mb-3">
          <input name="userstory" class="form-control" id="userstory_id" value="{{ userstory.UserStory_Full_Text }}" disabled />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="btn_clipboard_id"><i class="bi bi-clipboard"></i></button>
          </div>
        </div>
      </div>

      <div id="list_form_story" class="my-2">
      </div>

      <button class="btn btn-primary btn-sm" id="add_story_id" type="button">Add Story</button>
      {% endif %}

      {% if improved_terms_show %}
      
      <div class="row" style="margin-top: 25px;">
        {% if is_edit_action or is_edit_role %}
        <div class="col-6">
          <strong>Problematic terms:</strong>
        </div>

        <div class="col-6">
          <strong>Improved terms:</strong>
        </div>
        {% endif %}

        {% if is_edit_role %}
        <div class="col-12 row">
          <div class="col-6">
            <div class="form-group">
              <label for="">{{ role_label }}</label>
              <input class="form-control" placeholder="Role" disabled value="{{ userstory.Who_full.Who_action }}" />
              <input type="hidden" name="problematic_role" value="{{ userstory.Who_full.Who_action }}"/>
            </div>
          </div>  
          <div class="col-6">
            <div class="form-group">
              <label for="">{{ role_label }}</label>
              <select name="improved_role" id="role_id" class="form-control select2">
                <option value="">Select Role</option>
                {% for item in role_list %}
                <option value="{{ item.role }}">{{ item.role }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        {% endif %}

        {% if is_edit_action %}
        <div class="col-12 row">
          <div class="col-6">
            {% if reportterms %}
            <div class="form-group">
              <label for="">{{ action_label }}</label>
              <input class="form-control" placeholder="Action" disabled value="{{ reportterms.action }}" />
              <input type="hidden" name="problematic_action" value="{{ reportterms.action }}"/>
            </div>
            {% else %}
            <div class="form-group">
              <label for="action_id">{{ action_label }}</label>
              <input type="text" name="problematic_predicate" id="action_id" class="form-control" value="{{ reportuserstory.predicate|default:'' }}">
            </div>
            <!-- <div class="form-group">
              <label for="">{{ action_label }}</label>
              <select class="form-control select2" name="problematic_action">
                <option value="">Select</option>
                {% for item in glossarys %}
                <option value="{{ item.Action_item }}">{{ item.Action_item }}</option>
                {% endfor %}
              </select>
            </div> -->
            {% endif %}
          </div>

          <div class="col-6">
            {% if reportterms %}
            <div class="form-group">
              <label for="">{{ action_improve_label }}</label>
              <select name="improved_action" class="form-control select2">
                <option value="">Select Action</option>
                {% for item in reportterms.terms_actions %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
              </select>
            </div>
            {% else %}
            <div class="form-group">
              <label for="">{{ action_improve_label }}</label>
              <select name="improved_predicate" class="form-control select2">
                <option value="">Select</option>
                {% for item in keywords %}
                <option value="{{ item.keyword }}">{{ item.keyword }}</option>
                {% endfor %}
              </select>
            </div>
            {% endif %}
          </div>
        </div>
        {% endif %}
      </div>
      {% endif %}
    </div>
    <div class="card-footer">
      <button class="btn btn-warning">Submit</button>
      <button type="button" class="btn btn-secondary" onclick="history.back()">Back</button>
    </div>
  </div>
</form>
{% endblock %}

{% block styles %}
{{ block.super }}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<style>
  .select2-selection.select2-selection--single {
    height: 37px;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 37px;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 4px;
  }
</style>
{% endblock %}

{% block extrajs %}
{{ block.super }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  const remote_user_story = (elem) => {
    console.log('elem', elem)
    $(`.${elem}`).remove();
  }

  $('#btn_clipboard_id').on('click', function(){
    const copyText = document.getElementById("userstory_id");
    copyText.select();
    copyText.setSelectionRange(0, 99999); // For mobile devices
    navigator.clipboard.writeText(copyText.value);
  })

  $(function(){
    $('.select2').select2();

    const elem_list_story = $('#list_form_story')
    // elem_list_story.html(`
    //   <div class="form-group mt-2">
    //     <label for="userstory_id_1">User Story #1</label>
    //     <input name="userstory_list[]" class="form-control" id="userstory_id_1" />
    //   </div>
    // `)

    $('#add_story_id').on('click', function(){
      const elem_list_story = $('#list_form_story')
      const input_story = elem_list_story.find('input')
      if (input_story.length > 0){
        const index_story = input_story.length+1
        elem_list_story.append(`
          <div class="form-group mt-2 form-input-userstory-${index_story}">
            <label for="userstory_id_${index_story}">User Story #${index_story}</label>
            <div class="input-group mb-3">
              <input name="userstory_list[]" class="form-control" id="userstory_id_${index_story}" />
              <div class="input-group-append">
                <button class="btn btn-outline-danger" type="button" onclick="remote_user_story('form-input-userstory-${index_story}')">Remove</button>
              </div>
            </div>
          </div>
        `)
      } else {
        elem_list_story.html(`
          <div class="form-group mt-2">
            <label for="userstory_id_1">User Story #1</label>
            <input name="userstory_list[]" class="form-control" id="userstory_id_1" />
          </div>
        `)
      }
    })
  })
</script>
{% endblock %}