{% extends 'base.html' %}
{% load reporttag %}

{% block title %}Report User Stories{% endblock title %}

{% block contentTitle %} 
<h1>Report User Stories</h1> 
<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item">User Story</li>
    <li class="breadcrumb-item active">See Report User Stories</li>
  </ol>
</nav>
{% endblock contentTitle %}

{% block contentLeft %}
<div class="card">
  <div class="card-header">
    <h5>Filter</h5>
  </div>
  <div class="card-body">
    <form method="get" id="form_filter_id">
      <div class="form-group">
        <label for="project_id">Project</label>
        <select name="project_id" id="project_id" class="form-control">
          <option value>Select Project</option>
          {% for item in project_list %}
          <option value="{{ item.id }}" {% if project_id == item.id %}selected{% endif %}>{{ item.Project_Name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group mt-2">
        <label for="type_id">Type</label>
        <select name="type" id="type_id" class="form-control">
          <option value>All Type</option>
          {% for item in analyze_type %}
          <option value="{{ item.0 }}" {% if type == item.0 %}selected{% endif %}>{{ item.1 }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group mt-2">
        <label for="potential_problem_id">Potential Problem</label>
        <select name="potential_problem" id="potential_problem_id" class="form-control">
          {% if not request.GET.type %}
          <option value>All Potential Problem</option>
          {% endif %}
          {% for item in potential_problem_list %}
          <option value="{{ item.0 }}" {% if potential_problem == item.0 %}selected{% endif %}>{{ item.1 }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group mt-2">
        <label for="status_id">Status</label>
        <select name="status" id="status_id" class="form-control">
          {% for item in status_list %}
          <option value="{{ item.0 }}" {% if status == item.0 %}selected{% endif %}>{{ item.1 }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group mt-2">
        <label for="search_id">Search</label>
        <input type="text" class="form-control" placeholder="Search Userstory.." name="q" value="{{ request.GET.q }}">
      </div>
    </form>
  </div>
</div>


{% if userstory_list %}
<div class="card p-0">
  <div class="card-header p-3 d-flex">
    <div style="width: 60%;">
      <h5 class="mb-2 text-dark">Result</h5>
      <h6>Total Story: <span class="total-userstory">-</span></h6>
      <h6>Total Good Quality: <span class="total-good">-</span></h6>
      <h6>Total Potential Ambiguity: <span class="total-potential">-</span></h6>
    </div>
    <div class="justify-content-end" style="width: 40%; align-items: center;display: flex;">
      {% if project_id %}
      <!-- <a href="{% url 'userstory_project_add' project_id  %}" class="btn btn-success">Add Userstory</a> -->
      {% endif %}
      <button onclick="openNewTab()" class="btn btn-danger">Download PDF</button>
    </div>
  </div>
  <div class="card-body p-1">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>No.</th>
          <th>User Story</th>
          <th>Status</th>
          <th>Recommendation</th>
          <th>Description</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        {% for item in userstory_list %}
        {% if item.id|get_report_list:request %}
        <tr>
          <td rowspan="{{ item.id|get_count_report:request }}" class="userstory-number"></td>
          <td rowspan="{{ item.id|get_count_report:request }}">
            {{ item.UserStory_Full_Text }}
            <a href="{% url 'userstory_edit' item.id %}" class="btn btn-primary">Edit</a>
          </td>
        </tr>
        <!-- render report list -->
        {% for report in item.id|get_report_list:request %}
        <tr>
          <td data-is_problem="{{ report.is_problem }}">{{ report.status|default:"-" }}</td>
          <td>{{ report.recommendation|default:"-" }}</td>
          <td>
            <p style="white-space: pre-line;">{{ report.description|default:"-" }}</p>
          </td>
          <td>{{ report.get_type_display }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <!-- <tr>
          <td>{{ forloop.counter }}</td>
          <td>
            {{ item.UserStory_Full_Text }}
            <a href="{% url 'userstory_edit' item.id %}" class="btn btn-primary">Edit</a>
          </td>
          <td colspan="4"></td>
        </tr> -->
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endblock %}


{% block extrajs %}
{{ block.super }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
  $(function(){
    let is_good_elem = $('table tbody tr td[data-is_problem=False]').length;
    $('span.total-good').html(is_good_elem);
    let is_potential = $('table tbody tr td[data-is_problem=True]').length;
    $('span.total-potential').html(is_potential);

    const userstory_list = $('table tbody tr td.userstory-number')
    if (userstory_list.length > 0){
      $('span.total-userstory').html(userstory_list.length)
      userstory_list.map(index => {
        userstory_list.eq(index).html(index+1);
      })
    }
  })

  $('select').on('change', function(){
    console.log("change")
    $('form#form_filter_id').submit();
  })

  let type = "{{ type }}"
  let status = "{{ status }}"
  let project_id = "{{ project_id }}"
  if( type == "None"){
    type = ''
  }
  if( status == "None"){
    status = ''
  }
  if( project_id == "None"){
    project_id = ''
  }
  function openNewTab() {
    const newTab = window.open(`{% url 'report_userstory_print' %}?project_id=${project_id}&type=${type}&status=${status}`, '_blank', 'toolbar=no');

    if (newTab === null) {
      alert('Pop-up blocker may be preventing the new tab from opening.');
    }
  }
</script>
{% endblock %}