{% extends 'base.html' %}
{% load reporttag static %}

{% block title %}Report User Stories{% endblock title %}

{% block contentTitle %} 
<h1>Report User Stories</h1> 
<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item">User Story</li>
    <li class="breadcrumb-item active">See Report User Stories</li>
  </ol>
</nav>
{% endblock contentTitle %}

{% block contentLeft %}
<form method="get" id="form_filter_id" class="p-0">
  <div class="card">
    <div class="card-header">
      <h5>Filter</h5>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="project_id">Project</label>
        <select name="project_id" id="project_id" class="form-control">
          <option value>Select Project</option>
          {% for item in project_list %}
          <option value="{{ item.id }}" {% if project_id == item.id %}selected{% endif %}>{{ item.Project_Name }}</option>
          {% endfor %}
        </select>
      </div>
      
      <div class="form-group mt-2">
        <label for="filename_id">File Name</label>
        <select name="filename_id" id="filename_id" class="form-control">
          <option value>Select File Name</option>
          {% for item in filename_list %}
          <option value="{{ item.id }}" {% if filename_id == item.id %}selected{% endif %}>{{ item.US_File_Name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group mt-2">
        <label for="type_id">Type</label>
        <select name="type" id="type_id" class="form-control">
          <option value>All Type</option>
          {% for item in analyze_type %}
          <option value="{{ item.0 }}" {% if type == item.0 %}selected{% endif %}>{{ item.1 }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group mt-2">
        <label for="potential_problem_id">Potential Problem</label>
        <select name="potential_problem" id="potential_problem_id" class="form-control filter_submit">
          {% if not request.GET.type %}
          <option value>All Potential Problem</option>
          {% endif %}
          {% for item in potential_problem_list %}
          <option value="{{ item.0 }}" {% if potential_problem == item.0 %}selected{% endif %}>{{ item.1 }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group mt-2">
        <label for="status_id">Status</label>
        <select name="status" id="status_id" class="form-control filter_submit">
          {% for item in status_list %}
          <option value="{{ item.0 }}" {% if status == item.0 %}selected{% endif %}>{{ item.1 }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="input-group my-4">
        <input type="text" class="form-control" placeholder="Search Userstory.." aria-label="Search Userstory.." aria-describedby="basic-addon2" name="q" value="{{ request.GET.q }}">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i> Search</button>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-end">
      <button class="btn btn-primary" type="submit"><i class="bi bi-funnel"></i> Filter</button>
    </div>
  </div>
</form>


{% if userstory_list %}
<div class="card p-0">
  <div class="card-header p-3 d-flex">
    <div style="width: 60%;">
      <h5 class="mb-2 text-dark">Result</h5>
      <h6>Total Story: <span class="total-userstory">-</span></h6>
      <h6>Total Good Quality: <span class="total-good">-</span></h6>
      <h6>Total Potential Ambiguity: <span class="total-potential">-</span></h6>
    </div>
    <div class="justify-content-end" style="width: 40%; align-items: center;display: flex;">
      {% if project_id %}
      <!-- <a href="{% url 'userstory_project_add' project_id  %}" class="btn btn-success">Add Userstory</a> -->
      {% endif %}
      <button onclick="openNewTab()" class="btn btn-danger"><i class="bi bi-database-fill"></i> Export Data</button>
    </div>
  </div>
  <div class="card-body p-1 table-responsive">
    <table class="table table-bordered mb-0">
      <thead>
        <tr>
          <th>No.</th>
          <th>User Story</th>
          <th>Status</th>
          <th>Recommendation</th>
          {% if request.user.is_superuser %}
          <th>Description</th>
          {% endif %}
          <th>Type</th>
          <th style="min-width: 150px;">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for item in userstory_list %}
        {% if item.id|get_report_list:request %}
        <tr>
          <td rowspan="{{ item.id|get_count_report:request }}" class="userstory-number"></td>
          <td rowspan="{{ item.id|get_count_report:request }}">
            {{ item.UserStory_Full_Text }}
            {% if item.created_by %}
            <br><br>
            {% if item.old_userstory %}
            previous user stories: {{ item.old_userstory }}
            {% endif %}
            <br>
            <span>Created by: {{ item.created_by }}</span>
            {% endif %}
          </td>
        </tr>
        <!-- render report list -->
        {% for report in item.id|get_report_list:request %}
        <tr>
          <td data-is_problem="{{ report.is_problem }}">{{ report.status|default:"-" }}</td>
          <td>
            <p style="white-space: pre-line;">{{ report.recommendation|default:"-" }}</p>
          </td>
          {% if request.user.is_superuser %}
          <td>
            <p style="white-space: pre-line;">{{ report.description|default:"-" }}</p>
          </td>
          {% endif %}
          <td>{{ report.get_type_display }}</td>
          <td>
            {% if report.is_submited %}
            <a href="{% url 'report_userstory_edit' report.id %}" class="btn btn-primary link-edit">Edit</a>
            {% else %}
            <div class="form-group align-items-center group-action">
              <form action="" method="post" id="form_post_comment_{{report.id}}">
                <input type="hidden" name="report_id" value="{{report.id}}">
                <div class="form-radio mr-2">
                  <input class="form-radio-input" type="radio" id="radioAgree" name="report_agree" value="agree">
                  <label class="form-radio-label" for="radioAgree">
                    Agree
                  </label>
                </div>
                <div class="form-radio mr-2">
                  <input class="form-radio-input" type="radio" id="radioDisagree" name="report_agree" value="disagree">
                  <label class="form-radio-label" for="radioDisagree">
                    Disagree
                  </label>
                  <textarea name="report_comment" class="form-control" style="display: none;"></textarea>
                </div>
                <button type="button" class="btn btn-sm btn-primary mt-3" onclick="SubmitAction('form_post_comment_{{report.id}}')">Submit</button>
              </form>
            </div>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        {% else %}
        <!-- <tr>
          <td>{{ forloop.counter }}</td>
          <td>
            {{ item.UserStory_Full_Text }}
          </td>
          <td colspan="4"></td>
        </tr> -->
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/jquery.toast.min.css" %}">
<style>
  .form-radio-input, .form-radio-label {
    cursor: pointer;
  }
</style>
{% endblock %}

{% block extrajs %}
{{ block.super }}
<script src="{% static "js/jquery.toast.min.js" %}"></script>
<script>
  $(function(){
    let is_good_elem = $('table tbody tr td[data-is_problem=False]').length;
    $('span.total-good').html(is_good_elem);
    let is_potential = $('table tbody tr td[data-is_problem=True]').length;
    $('span.total-potential').html(is_potential);

    const userstory_list = $('table tbody tr td.userstory-number')
    if (userstory_list.length > 0){
      $('span.total-userstory').html(userstory_list.length)
      userstory_list.map(index => {
        userstory_list.eq(index).html(index+1);
      })
    }

    $('a.link-edit').map(item => {
      let elem = $('a.link-edit').eq(item)
      let path = elem.attr('href') + window.location.search;
      elem.attr('href', path)
    });

    $('#form_filter_id select').select2();
  })

  $('.form-radio-input').on('change', function(){
    const $this = $(this)
    const parent = $this.parents('.group-action')
    const value_ = $this.val()
    if (value_ == 'agree'){
      parent.find('textarea').val('');
      parent.find('textarea').hide();
    } else if (value_ == 'disagree'){
      parent.find('textarea').val('');
      parent.find('textarea').show();
    } else {
      parent.find('textarea').val('');
      parent.find('textarea').hide();
    }
  })

  $('select.filter_submit').on('change', function(){
    // console.log("change")
    $('form#form_filter_id').submit();
  })

  $('select#project_id').on('change', function(){
    const value_project = $('select#project_id').val()
    const url = new URL(window.location.href);
    url.searchParams.set('project_id', value_project);
    url.searchParams.delete('type');
    url.searchParams.delete('potential_problem');
    url.searchParams.set('status', 1);
    window.location.href = url.search;
  })

  $('select#filename_id').on('change', function(){
    const value_project = $('select#project_id').val()
    const value_filename = $('select#filename_id').val()
    const url = new URL(window.location.href);
    url.searchParams.set('project_id', value_project);
    url.searchParams.set('filename_id', value_filename);
    url.searchParams.delete('type');
    url.searchParams.delete('potential_problem');
    url.searchParams.set('status', 1);
    window.location.href = url.search;
  })

  $('select#type_id').on('change', function(){
    const value_type = $('select#type_id').val()
    const url = new URL(window.location.href);

    if (['1', '3'].includes(value_type)) {
      // Vagueness
      url.searchParams.set('potential_problem', 1);
    } else if (['4', '2', '5'].includes(value_type)) {
      url.searchParams.set('potential_problem', 2);
    } else if (['6'].includes(value_type)) {
      url.searchParams.set('potential_problem', 4);
    } else {
      url.searchParams.delete('potential_problem');
    }

    url.searchParams.set('status', 1);
    url.searchParams.set('type', value_type);
    window.location.href = url.search;
  })

  let type = "{{ type }}"
  let status = "{{ status }}"
  let project_id = "{{ project_id }}"
  if( type == "None"){
    type = ''
  }
  if( status == "None"){
    status = ''
  }
  if( project_id == "None"){
    project_id = ''
  }
  function openNewTab() {
    // const newTab = window.open(`{% url 'report_userstory_print' %}?project_id=${project_id}&type=${type}&status=${status}`, '_blank', 'toolbar=no');
    const newTab = window.open(`{% url 'report_userstory_print' %}?project_id=${project_id}&type=${type}&status=${status}`, '_blank');

    if (newTab === null) {
      alert('Pop-up blocker may be preventing the new tab from opening.');
    }
  }
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  const SubmitAction = (id) =>{
    data = $("#"+id).serializeArray()
    data.push({name:"csrfmiddlewaretoken", value:getCookie("csrftoken")})
    $.ajax({
      url:"{% url "report_save_comment" %}",
      type:"POST",
      data:data,
      success:function(res){
        if(res.success){
          $.toast('Success set comment')
          setTimeout(function(){
            window.location.reload();
          },500)
        }else{
          $.toast('There is a problem while saving comment')
        }
      },
    })
  }
</script>
{% endblock %}