{% extends 'base.html' %}

{% block title %} User Stories {% endblock title %}

{% block styles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<style>
  .mylabel {
    vertical-align: top;
  }

  .dataTable-pagination-list .pager {
    margin: 0;
  }
</style>
{% endblock %}


{% block extrajs %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>  
{% if view_all %}
<script>
  $(document).ready(function () {
    $('#table_result_id').DataTable({
      scrollX: true,
      ordering: false,
      // stateSave: true,
    });
  });
</script>
{% endif %}
<script>
  $('#domain_filter_id').on('change', function(){
    const $this = $(this)
    if($this.val()){
      window.location.href = '?project='+$this.val()
    }
  })

  const labels = document.querySelectorAll('.mylabel');
  labels.forEach(e => {
    e.addEventListener('click', function() {
      $this = $(this)
      const cb = $this.parent().find(".checklist-item")
      cb.prop('checked', !cb.is(':checked'));
      handleChecked()
    });
  });

  const handleChecked = () => {
    const table = $('#table_result_id')
    let input_checked = table.find('tbody input.checklist-item:checked')
    if (input_checked.length > 0){
      $('.form-process-assessment').show();
    } else {
      $('.form-process-assessment').hide();
    }
  }

  $('.select_all_list').on('change', function(){
    $this = $(this)
    console.log($this.is(':checked'))
    const isChecked = $this.is(':checked')
    $('.checklist-item').prop('checked', isChecked);
    handleChecked()
  })

  $('.checklist-item').on('change', function(){
    handleChecked()
  })

  $('#button_proceed_id').on('click', function(){
    // handleProcess();
  })

  const handleProcess = () => {
    // on submit button Proceed
    const well_formed_id = $('#well_formed_id')
    //const atomic_criteria_id = $('#atomic_criteria_id')
    //const unique_criteria_id = $('#unique_criteria_id')
    const check_id = $('input[name=userstory_id]:checked').val()
  }
</script>
{% endblock %}

{% block contentTitle %} 
<h1>See Preprocessed User Stories</h1> 
<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item">User Story</li>
    <li class="breadcrumb-item active">See Preprocessed User Stories</li>
  </ol>
</nav>
{% endblock contentTitle %}

{% block contentLeft %}

<div class="col-lg-12">
  <div class="row">
    <!-- Input preferred criteria for analysis -->
    <div class="col-12">
      <div class="card top-selling overflow-auto form-process-assessment">
        <div class="card-body pb-0 mb-3">
          <h5 class="card-title"> Input assessment criteria : </h5>
          <div class="container-fluidn">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="checkbox" aria-label="Consistency criteria" id="consistency_criteria_id">
                  <label for="consistency_criteria_id">What is your preferred number of terms to be displayed in each class?</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group">
                  <input type="checkbox" aria-label="Conceptually sound criteria" id="conceptually_sound_criteria_id">
                  <label for="conceptually_sound_criteria_id">What is your preferred number of topics for classifying the user stories?</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group">
                  <input type="checkbox" id="cluster_for_grouping_id"> 
                  <label for="cluster_for_grouping_id">What is your preferred number of cluster for grouping the user stories?</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group">
                  <input type="checkbox" aria-label="Unique criteria" id="unique_criteria_id">
                  <label for="unique_criteria_id">What is the maximum level of similarity you can accept?</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-warning">Proceed</button>
        </div>
      </div>
    </div>
  </div>
</div>
    
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Select set of user stories
          </h5>
          

          <div class="row">
            <div class="col-4">
              <div class="form-group ms-3">
                <label for="domain_filter_id">Project Domain</label>
                <select class="form-select" aria-label="Project Domain" id="domain_filter_id" name="project_domain_id">
                  <option selected="">Select Project Domain</option>
                  {% for item in project_list %}
                  {% if item.id == project_id %}
                  <option value="{{ item.id }}" selected>{{ item }}</option>
                  {% else %}
                  <option value="{{ item.id }}">{{ item }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          
          <table class="table table-striped" id="table_result_id">
            <thead>
              <tr>
                <th>
                  <input type="checkbox" name="select_all" class="select_all_list">
                </th>
                <th scope="col">ID</th>
                <th scope="col">
                  <nobr>Project Domain</nobr>
                </th>
                <th scope="col">User story</th>
                <th scope="col">
                  <nobr>Role of actor (Who-)</nobr>
                </th>
                <th scope="col">
                  <nobr>Role of action (What-)</nobr>
                </th>
                <th scope="col">
                  <nobr>Roal of benefit (Why-)</nobr>
                </th>
              </tr>
            </thead>
            <tbody>
              {% if view_all %}
              {% for dt in view_all %}
              <tr for="userstory_id_{{dt.id}}">
                <td>
                  <input type="checkbox" name="userstory_id" id="userstory_id_{{dt.id}}" class="checklist-item" data-id="{{dt.id}}" value="{{dt.id}}">
                </td>
                <td class="mylabel">{{ dt.id }}</td>
                <td class="mylabel">{{ dt.Project_Name }}</td>
                <td class="mylabel">{{ dt.UserStory_Full_Text }}</td>
                <td class="mylabel">{{ dt.Who_full }}</td>
                <td class="mylabel">{{ dt.What_full }}</td>
                <td class="mylabel">{{ dt.Why_full }}</td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td colspan="7" align="center">No data available in table</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
          

        </div>
      </div>
    </div>
  </div>
</div>
</form>
{% endblock contentLeft %}



