{% extends 'base.html' %}

{% block title %}User Stories{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<style>
  .mylabel {
    vertical-align: top;
  }

  .dataTable-pagination-list .pager {
    margin: 0;
  }

  .multi-select-menuitem {
    font-size: 13px;
  }

  .multi-select-menuitem input[type=checkbox] {
    margin: 0px;
    margin-left: -19px;
    margin-top: 4px;
  }

</style>
{% endblock %}

{% block extrajs %}
{{ block.super }}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>  
{% if view_all %}
<script>
  $(document).ready(function () {
    $('#table_result_id').DataTable({
      scrollX: true,
      ordering: false,
      // stateSave: true,
    });
  });
</script>
{% endif %}
<script>
  $('#domain_filter_id').on('change', function(){
    const $this = $(this)
    if($this.val()){
      window.location.href = '?project='+$this.val()
    } else {
      window.location.href = '?project='
    }
  })

  const labels = document.querySelectorAll('.mylabel');
  labels.forEach(e => {
    e.addEventListener('click', function() {
      $this = $(this)
      const cb = $this.parent().find(".checklist-item")
      cb.prop('checked', !cb.is(':checked'));
      handleChecked()
    });
  });

  const handleChecked = () => {
    const table = $('#table_result_id')
    let input_checked = table.find('tbody input.checklist-item:checked')
    if (input_checked.length > 0){
      $('.form-process-assessment').show();
    } else {
      $('.form-process-assessment').hide();
    }
  }

  $('.select_all_list').on('change', function(){
    $this = $(this)
    console.log($this.is(':checked'))
    const isChecked = $this.is(':checked')
    $('.checklist-item').prop('checked', isChecked);
    handleChecked()
  })

  $('.checklist-item').on('change', function(){
    handleChecked()
  })

  $('#button_proceed_id').on('click', function(){
    // handleProcess();
  })

  const handleProcess = () => {
    // on submit button Proceed
    const well_formed_id = $('#well_formed_id')
    //const atomic_criteria_id = $('#atomic_criteria_id')
    //const unique_criteria_id = $('#unique_criteria_id')
    const check_id = $('input[name=userstory_id]:checked').val()
  }

  $('#gridCheck0').on('change', function(){
    if ($('#gridCheck0').is(':checked')){
      console.log('select all')
      for (let i = 0; i < 6; i++) {
        let number = i + 1
        $(`#gridCheck${number}`).prop('checked', true);
      }
    } else {
      console.log('remove select all')
      for (let i = 0; i < 6; i++) {
        let number = i + 1
        $(`#gridCheck${number}`).prop('checked', false);
      }
    }
  })

</script>
{% endblock %}

{% block contentTitle %} 
<h1>Preprocessed User Stories</h1> 
<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item">User Story</li>
    <li class="breadcrumb-item active">Preprocessed User Stories</li>
  </ol>
</nav>
{% endblock contentTitle %}

{% block contentLeft %}

<form method="post" action="{% url 'analyze_data' %}">
  {% csrf_token %}
  <!-- Input preferred criteria for analysis -->
  <!-- <div class="card top-selling overflow-auto form-process-assessment">
    <div class="card-body pb-0 mb-3">
      <h5 class="card-title">Input assessment criteria:</h5>
      <div class="container-fluidn">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input type="checkbox" id="eps_checkbox_id" name="eps_checkbox"/>
              <label for="eps_checkbox_id">What is the maximum distances of two node that you can accept?</label>
              <input type="number" class="form-control" name="eps_value" id="eps_value_id" step="0.01">
              <span class="text-muted">Default: 0.5</span>
            </div>
            
            <div class="form-group">
              <input type="checkbox" id="min_samples_checkbox_id" name="min_samples_checkbox"/>
              <label for="min_samples_checkbox_id">What is the minimum number of samples that meet the max. distance that you allowed?</label>
              <input type="number" class="form-control" name="min_samples_value" id="min_samples_value_id" step="0.01">
              <span class="text-muted">Default: 2</span>
            </div>

            <div class="form-group">
              <input type="checkbox" id="terms_role_checkbox_id" name="terms_role_checkbox">
              <label for="terms_role_checkbox_id">What is your preferred number of role terms to be displayed?</label>
              <input type="number" class="form-control" name="terms_role_value" id="terms_role_value_id" step="0.01">
              <span class="text-muted">Default: 5</span>
            </div>
            
            <div class="form-group">
              <input type="checkbox" id="terms_action_checkbox_id" name="terms_action_checkbox">
              <label for="terms_action_checkbox_id">What is your preferred number of action terms to be displayed?</label>
              <input type="number" class="form-control" name="terms_action_value" id="terms_action_value_id" step="0.01">
              <span class="text-muted">Default: 7</span>
            </div>

            <div class="form-group">
              <input type="checkbox" id="topics_checkbox_id" name="topics_checkbox">
              <label for="topics_checkbox_id">What is your preferred number of topics for classifying the user stories?</label>
              <input type="number" class="form-control" name="topics_value" id="topics_value_id" step="0.01">
              <span class="text-muted">Default: 10</span>
            </div>

            <div class="form-group">
              <input type="checkbox" id="similarity_checkbox_id" name="similarity_checkbox">
              <label for="similarity_checkbox_id">What is the maximum level of similarity you can accept?</label>
              <input type="number" class="form-control" name="similarity_value" id="similarity_value_id" step="0.01">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-warning">Proceed</button>
    </div>
  </div> -->

  <div class="card">
    <h4 class="card-header">
      Input assessment criteria:
    </h4>
    <div class="card-body pt-3">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group d-flex align-items-center">
            <div class="form-check mr-2">
              <input class="form-check-input" type="checkbox" id="gridCheck0" name="select_all_criteria">
              <label class="form-check-label" for="gridCheck0">
                Select All Assessment Criteria
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label>Clarity</label>
          <div class="form-group d-flex align-items-center">
            <div class="form-check mr-2">
              <input class="form-check-input" type="checkbox" id="gridCheck1" name="preciseness_checkbox">
              <label class="form-check-label" for="gridCheck1">
                Preciseness, Max. distance of two node:
              </label>
            </div>
            &nbsp;
            &nbsp;
            <input type="number" class="form-control w-25" placeholder="default: 0.5" name="preciseness_input" step="0.01" />
          </div>
          <div class="form-check mr-2">
            <input class="form-check-input" type="checkbox" id="gridCheck2" name="well_formedness_checkbox">
            <label class="form-check-label" for="gridCheck2">
              Well-formedness
            </label>
          </div>
          <div class="form-check mr-2">
            <input class="form-check-input" type="checkbox" id="gridCheck3" name="conciseness_checkbox">
            <label class="form-check-label" for="gridCheck3">
              Conciseness
            </label>
          </div>
          <label class="mt-5">Consistency</label>
          <div class="form-check mr-2">
            <input class="form-check-input" type="checkbox" id="gridCheck4" name="atomicity_checkbox">
            <label class="form-check-label" for="gridCheck4">
              Atomicity
            </label>
          </div>
        </div>
        <div class="col-md-6">
          <label class="mt-5">Adequacy</label>
          <div class="form-group d-flex align-items-center">
            <div class="form-check mr-2">
              <input class="form-check-input" type="checkbox" id="gridCheck5" name="conceptually_sound_checkbox">
              <label class="form-check-label" for="gridCheck5">
                Conceptually sound, Num. of topic:
              </label>
            </div>
            &nbsp;
            &nbsp;
            <input type="number" class="form-control w-25" placeholder="default: 10" name="conceptually_sound_input" step="0.01" />
          </div>
          <label class="mt-5">Uniqueness</label>
          <div class="form-group d-flex align-items-center">
            <div class="form-check mr-2">
              <input class="form-check-input" type="checkbox" id="gridCheck6" name="uniqueness_checkbox">
              <label class="form-check-label" for="gridCheck6">
                Uniqueness similarity level:
              </label>
            </div>
            &nbsp;
            &nbsp;
            <input type="number" class="form-control w-25" placeholder="default: 0.6" name="uniqueness_input" step="0.01" />
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-warning"><i class="bi bi-arrow-clockwise"></i> Proceed</button>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        Select set of user stories
      </h5>
      <div class="row">
        <div class="col-4">
          <div class="form-group ms-3">
            <label for="domain_filter_id">Project Domain</label>
            <select class="form-control select2" aria-label="Project Domain" id="domain_filter_id" name="project_domain_id">
              <option selected="" value>Select Project Domain</option>
              {% for item in project_list %}
              {% if item.id == project_id %}
              <option value="{{ item.id }}" selected>{{ item }}</option>
              {% else %}
              <option value="{{ item.id }}">{{ item }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      {% if request.GET.project %}
      <input type="hidden" name="project" value="{{ request.GET.project }}">
      <div class="row">
        <div class="col-4 ms-3">
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" name="all_in_project" type="checkbox" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Select all User Story this Project
              </label>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      
      <table class="table table-striped" id="table_result_id">
        <thead>
          <tr>
            <th>
              <input type="checkbox" name="select_all" class="select_all_list">
            </th>
            <th scope="col">ID</th>
            <th scope="col">
              <nobr>Project Domain</nobr>
            </th>
            <th scope="col">User story</th>
            <th scope="col">
              <nobr>Role of actor (Who-)</nobr>
            </th>
            <th scope="col">
              <nobr>Role of action (What-)</nobr>
            </th>
            <th scope="col">
              <nobr>Roal of benefit (Why-)</nobr>
            </th>
          </tr>
        </thead>
        <tbody>
          {% if view_all %}
          {% for dt in view_all %}
          <tr for="userstory_id_{{dt.id}}">
            <td>
              <input type="checkbox" name="userstory_id" id="userstory_id_{{dt.id}}" class="checklist-item" data-id="{{dt.id}}" value="{{dt.id}}">
            </td>
            <td class="mylabel">{{ dt.id }}</td>
            <td class="mylabel">{{ dt.Project_Name }}</td>
            <td class="mylabel">{{ dt.UserStory_Full_Text }}</td>
            <td class="mylabel">{{ dt.Who_full }}</td>
            <td class="mylabel">{{ dt.What_full }}</td>
            <td class="mylabel">{{ dt.Why_full }}</td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td colspan="7" align="center">No data available in table</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</form>
{% endblock contentLeft %}



