{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block contentLeft %}
<form method="post">
  {% csrf_token %}
  <div class="card">
    <div class="card-header">
      <h5>{{ title }}</h5>
    </div>
    <div class="card-body">
      <div class="form-group mb-3">
        <label for="keyword_id">Keyword</label>
        <select id="keyword_id" class="form-control select2" name="keyword" required>
          {% for item in keyword_list %}
          <option value="{{ item.id }}">{{ item }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="action_id">Action</label>
        <input type="text" name="action" class="form-control" id="action_id" required>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" type="submit">Submit</button>
      <button type="button" class="btn btn-secondary" onclick="history.back()">Back</button>
    </div>
  </div>
</form>
{% endblock %}