{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block contentLeft %}
<form method="post">
  {% csrf_token %}
  <div class="card">
    <h5 class="card-header">
      {{ title }}
    </h5>
    <div class="card-body pt-4">
      <div class="form-group row mb-3">
        <label for="project_id" class="col-sm-2 col-form-label"><nobr>Select project</nobr></label>
        <div class="col-sm-10">
          <select name="project" id="project_id" class="form-control select2">
            <option value>Select</option>
            {% for item in projects %}
            <option value="{{ item.id }}">{{ item.Project_Name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group row mb-3">
        <label for="file_id" class="col-sm-2 col-form-label"><nobr>Select file</nobr></label>
        <div class="col-sm-10">
          <select name="file" id="file_id" class="form-control select2">
            <option value>Select</option>
            {% for item in uploads %}
            <option value="{{ item.id }}">{{ item.US_File_Name }}</option>
            {% endfor %}
          </select>

          <div class="form-group mt-3">
            <input type="checkbox" name="custom_file" id="custom_file_id">
            <label for="custom_file_id">new file</label>
            <input type="text" name="input_custom_file" class="form-control" style="display: none;">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="userstory_id">Input user story (use Connextra template):</label>
        <input type="text" name="userstory" id="userstory_id" class="form-control" placeholder="As a role, I want gole, so that benefit">
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </div>
</form>
{% endblock %}

{% block extrajs %}
{{ block.super }}
<script>
  $('#custom_file_id').on('change', function(){
    if ($('#custom_file_id').is(':checked')){
      $('input[name=input_custom_file]').show();
    } else {
      $('input[name=input_custom_file]').hide();
    }
  })

  $('#project_id').on('change', function(event){
    console.log(event)
    const value = event.target.value;
    if (value) {
      $.ajax({
        'url': `{% url 'load_name_file_project' %}`,
        'type': 'GET',
        data: {
          project_id: value
        },
        success: function(response){
          console.log(response)
          let option_ = '<option value>Select</option>'
          if (response.success) {
            response.data.map(item => {
              option_ += `
                <option value="${item.id}">${item.text}</option>
              `
            })
          } 
          $('#file_id').html(option_)
          $('#file_id').trigger('update');
        }
      })
    }
  })
</script>
{% endblock %}