{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}{% endblock %} | Ambiguity Detection</title>
  <meta conent="Ambiguity Detection" name="In Agile methodology, ambiguity is not necessarily something that must be eliminated. However, unclarity, inconsistent features, missing requirements, and duplication are all consequences of ambiguity that must be reduced. The reason for this is that these issues can lead to technical debts which could compromise software quality.">
  <meta content="Ambiguity Detection" name="QUAS Framework">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/select2.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/example-styles.css' %}" rel="stylesheet" />
  <link href="{% static 'css/jquery.toast.min.css' %}" rel="stylesheet">
  <style>
    .select2-selection.select2-selection--single {
      height: 37px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered{
      line-height: 37px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
      top: 4px;
    }

    .select2-results__option .wrap:before{
      font-family: 'bootstrap-icons';
      color:#999;
      content:"\F584";
      width:25px;
      height:25px;
      padding-right: 10px;
    }

    .select2-results__option[aria-selected=true] .wrap:before{
      font-family: 'bootstrap-icons';
      content:"\F26C";
    }

    .multi-select-button:after {
      display: none;
    }
  </style>

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  {% block styles %}{% endblock %}
</head>
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <!--start logo-->
    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src="{% static 'assets/img/logo.png' %}" alt="">
        <span class="d-none d-lg-block" style="font-size: 20px;">Ambiguity Detection</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>

    <nav class="navbar bg-body-tertiary m-0" style="padding-left: 10px;">
      <div class="container-fluidn">
        <span class="fw-bolder align-bottom d-none d-md-block" style="font-size: 20px;">Identification of potential ambiguity in user stories</span>
      </div>
    </nav>

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <!-- <img src="{% static 'assets/img/profile-img.jpg' %}" alt="Profile" class="rounded-circle"> -->
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ request.user.username }}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ request.user.get_full_name }}</h6>
              <span>{{ request.user.email }}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'profile' request.user.id %}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'signedout' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <!-- End Header -->

   <!-- ======= Sidebar ======= -->
   <aside id="sidebar" class="sidebar px-0">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item px-4">
        <strong>You are now in:</strong>
        <div class="w-100">
          <select name="" id="project_now_in_id" class="form-control" multiple="multiple">
            <option value>Project</option>
          </select>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'index' %}">
          <i class="bi bi-grid"></i><span>About QUAS framework</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'howtouse' %}">
          <i class="bi bi-question-square"></i><span>How to use</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav-1" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>User story</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav-1" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <!-- belum dibuat halamannya -->
            <a href="{% url 'add_single_userstory' %}">
              <i class="bi bi-circle"></i><span>Add user story</span>
            </a>
          </li>
          <li>
              <a href="{% url 'Upload_User_Story' %}">
              <i class="bi bi-circle"></i><span>Import user story</span>
              </a>
            </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav-2" data-bs-toggle="collapse" href="#">
          <i class="bi bi-zoom-in"></i><span>User story in process</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav-2" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'show_UserStory' %}">
              <i class="bi bi-circle"></i><span>See unprocessed user story</span>
            </a>
          </li>
          <li>
            <a href="{% url 'show_splitted_UserStory' %}">
              <i class="bi bi-circle"></i><span>See preprocessed user story</span>
            </a>
          </li>
          <!-- <li>
            <a href="{% url 'view_process_background' %}">
              <i class="bi bi-circle"></i><span>See process background</span>
            </a>
          </li> -->
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-report" data-bs-toggle="collapse" href="#">
            <i class="bi bi-card-list"></i><span>Report and Improvement </span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-report" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'report_userstory_list' %}">
              <i class="bi bi-circle"></i><span>Analysis result</span>
            </a>
          </li>
          <li>
            <a href="{% url 'view_list_adjusted_userstory' %}">
              <i class="bi bi-circle"></i><span>History of improvement</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav-3" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gear"></i><span>Settings</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav-3" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'projects_list_view' %}">
              <i class="bi bi-circle"></i><span>Add new project</span>
            </a>
          </li>
          <li>
            <a href="{% url 'master_keyword' %}">
              <i class="bi bi-circle"></i><span>Action glossary (Müter et al., 2019)</span>
            </a>
          </li>
        </ul>
      </li>
      {% if request.user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'view_list_accounts' %}">
          <i class="bi bi-people"></i><span>Accounts</span>
        </a>
      </li>
      {% endif %}
      
      <!-- <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav-1" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>User story</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav-1" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
              <a href="/inputUS/upload_US.html">
              <i class="bi bi-circle"></i><span>Import user stories</span>
              </a>
          </li>
          <li>
            <a href="/inputUS/see_uploaded_US.html">
              <i class="bi bi-circle"></i><span>See uploaded user stories</span>
            </a>
          </li>
          <li>
            <a href="/inputUS/see_splitted_US1.html">
              <i class="bi bi-circle"></i><span>See splitted user stories</span>
            </a>
          </li>
          <li>
            <a href="{% url 'view_process_background' %}">
              <i class="bi bi-circle"></i><span>See process user stories</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-report" data-bs-toggle="collapse" href="#">
            <i class="bi bi-gear"></i><span>Report</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-report" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'report_userstory_list' %}">
              <i class="bi bi-circle"></i><span>See Report User Stories</span>
            </a>
          </li>
          <li>
            <a href="{% url 'view_list_adjusted_userstory' %}">
              <i class="bi bi-circle"></i><span>See Adjusted User Stories</span>
            </a>
          </li>
        </ul>
      </li> -->
    </ul>
  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      
      {% block contentTitle %}
        
      {% endblock contentTitle %}
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}

        
        {% block contentLeft %}
            
        {% endblock contentLeft %}
            
        

      </div>
    </section>

  </main><!-- End #main -->

<!-- ======= Footer ======= -->
  
<footer id="footer" class="footer">
    <div class="card-body text-center"> 
        <div class="copyright"> &copy; Copyright <strong><span>GHENT UNIVERSITY</span></strong>. All Rights Reserved </div>
        <!-- <div class="credits"> Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> </div> -->
    </div>
                
</footer><!-- End Footer -->

<!--
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
-->
  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  
  {% block extrajs %}
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/select2.min.js' %}"></script>
  <script src="{% static 'js/jquery.multi-select.js' %}"></script>
  <script src="{% static 'js/jquery.toast.min.js' %}"></script>
  <script>
    $(function(){
      $('.select2').select2();
      // $("#project_now_in_id").select2MultiCheckboxes({
      //   templateSelection: function(selected, total) {
      //     return "Selected " + selected.length + " of " + total;
      //   }
      // })
      
      const update_use_project_file = (file_id, is_active=false) => {
        $.ajax({
          url: '{% url "update_json_project_use" %}',
          type: 'GET',
          data: {
            file_id: file_id,
            is_active: is_active
          },
          success: function(respon){
            // console.log(respon)
            if (respon.success){
              $.toast('Success updated file project used')
            }
          }
        })
      }

      $("#project_now_in_id").on('change', function(event){
        // console.log(event)
        // console.log(event.target.value)
        // console.log("change")
        const value = event.target.value;
        const elem = $("#project_now_in_id")
        if (elem.val().includes(value)) {
          // is checked
          update_use_project_file(value, true)
        } else {
          // is unchecked
          update_use_project_file(value)
        }
      })

      $.ajax({
        url: '{% url "get_json_project_use" %}',
        type: 'GET',
        success: function(respon){
          // console.log(respon)
          if (respon.success) {
            let html_ = ''
            respon.data.map(item => {
              html_ += `<optgroup label="${item.project}">`
                item.file.map(item_file => {
                  html_ += `<option value="${item_file.id}" ${item_file.selected ? 'selected' : ''}>${item_file.name}</option>`
                })
              html_ += `</optgroup>`
            })
            $("#project_now_in_id").html(html_)
            $("#project_now_in_id").multiSelect({
              'containerHTML':'<div class="multi-select-container w-100">',
              'buttonHTML':'<span class="multi-select-button w-100">',
              'allText': 'Selected All Project File',
              'noneText':'-- Project & File --',
            });
          }
        }
      })
    })
  </script>
  {% endblock %}
</body>
</html>