{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block contentTitle %} 
<!-- <h1>{{ title }}</h1>  -->
<!-- <nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
  </ol>
</nav> -->
{% endblock contentTitle %}

{% block contentLeft %}
<div class="card">
  <h5 class="card-header d-flex justify-content-between align-items-center">
    {{ title }}
  </h5>
  <div class="card-body pt-2">
    <p>
      In Agile methodology, ambiguity is not necessarily something that must be eliminated. However, unclarity, inconsistent features, missing requirements, and duplication are all consequences of ambiguity that must be reduced. The reason for this is that these issues can lead to technical debts which could compromise software quality.
    </p>
    <p>As a result, we proposed the QUAS framework, a set of quality criteria that user stories should meet in order to prevent potential ambiguities. In the QUAS framework, criteria are classified according to the linguistic levels where the potential ambiguity occurs and contra situations of RE problems (i.e., unclarity, inconsistency, inadequacy, duplication). Apart from proposing some criteria, the QUAS framework also proposes recommendations for potential problematic user stories according to the linguistic level at which the problems occur. Consequently, one user story might have multiple linguistic problems and be recommended for improvement in multiple ways. </p>
    <p>The criteria in the QUAS framework are depicted as follows:</p>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th rowspan="2">Req. Quality</th>
          <th colspan="4">Linguistic level</th>
        </tr>
        <tr>
          <th>Lexical</th>
          <th>Syntactic</th>
          <th>Semantic</th>
          <th>Pragmatic*</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Clarity</td>
          <td>Precise term.</td>
          <td>Well-formedness</td>
          <td>Conciseness</td>
          <td>Well-understood*</td>
        </tr>
        <tr>
          <td>Consistency</td>
          <td></td>
          <td>Atomicity</td>
          <td></td>
          <td>Mutual understanding*</td>
        </tr>
        <tr>
          <td>Adequacy</td>
          <td></td>
          <td></td>
          <td>Conceptually sound</td>
          <td>Supportive*</td>
        </tr>
        <tr>
          <td>Uniqueness</td>
          <td></td>
          <td></td>
          <td>Uniqueness</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <p>* does not supported by the QUAS prototype</p>

    <p>In order to use the QUAS framework as a tool to identify potential ambiguity in user story, each criterion, violation, and improvement was described as follows:</p>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><nobr>Req. Quality</nobr></th>
          <th>Criterion</th>
          <th>Violation</th>
          <th>Recommendation for improvement</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="3">Clarity</td>
          <td>Precise term.</td>
          <td>Unclear/imprecise term.</td>
          <td>Replace unclear/imprecise term. with a standard glossary proposed by Müter et al. (2019)</td>
        </tr>
        <tr>
          <td>Well-formedness</td>
          <td>Ill-formedness</td>
          <td>Change the structure of user story using Connextra template <b><i>“As a [role], I want [goal], so that [benefit]”</i></b></td>
        </tr>
        <tr>
          <td>Conciseness</td>
          <td>Verbosity</td>
          <td>Detect <i>subordinate conjunction</i> and inquire users to change user story into simple sentence</td>
        </tr>
        <tr>
          <td>Consistency</td>
          <td>Atomicity</td>
          <td>Complex and/or compound sentence</td>
          <td>Detect <i>coordinate conjunction</i> and inquire users to change user story into simple sentence</td>
        </tr>
        <tr>
          <td>Adequacy</td>
          <td>Conceptually sound</td>
          <td>Under and/or over specified</td>
          <td>Inquire users to provide interpretation of the expected action</td>
        </tr>
        <tr>
          <td>Uniqueness</td>
          <td>Uniqueness</td>
          <td>Duplication</td>
          <td>Remove one of two duplicated user stories</td>
        </tr>
      </tbody>
    </table>
    <p>In order to facilitate the adoption of the QUAS framework, we developed the QUAS prototype that utilizes several NLP techniques to identify potential ambiguities in user stories.</p>
  </div>
</div>
{% endblock contentLeft %}