{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}


{% block contentLeft %}
<form method="get" class="p-0">
  <div class="card">
    <div class="card-header">
      <h5>Filter</h5>
    </div>
    <div class="card-body py-3">
      <div class="row">
        <div class="col-12">
          <input type="text" name="q" class="form-control" placeholder="Search by text user stories" value="{{ request.GET.q }}">
        </div>
        <div class="col-4 mt-2">
          <select name="project" class="form-control select2">
            <option value>All Project </option>
            {% for item in project_list %}
            {% if project_value == item.id %}
            <option value="{{ item.id }}" selected>{{ item }}</option>
            {% else %}
            <option value="{{ item.id }}">{{ item }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="col-4 mt-2">
          <select name="status" class="form-control select2">
            <option value>All Status</option>
            {% for item in status_list %}
            {% if status_value == item.0 %}
            <option value="{{ item.0 }}" selected>{{ item.1 }}</option>
            {% else %}
            <option value="{{ item.0 }}">{{ item.1 }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-end">
      <button class="btn btn-primary" type="submit">Filter</button>
    </div>
  </div>
</form>

<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5>{{ title }}</h5>
    <button class="btn btn-danger" onclick="onDownloadPDF()"><i class="bi bi-database-fill"></i> Export Data</button>
  </div>
  <div class="card-body p-1">
    <table class="table table-bordered table-striped m-0">
      <thead>
        <tr>
          <th>No.</th>
          <th>User Story</th>
          <th>Adjusted User Story</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for item in view_all %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ item.userstory_text }}</td>
          <td>{{ item.adjusted }}</td>
          <td>{{ item.get_status_display }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item">
          {% if view_all.has_previous %}
          <a class="page-link" href="?page={{ view_all.previous_page_number }}">Previous</a>
          {% endif %}
        </li>
        {% for num_page in view_all.paginator.page_range %}
        <br />
        {% if view_all.number == num_page %}
        <li class="page-item active" aria-current="page"><a class="page-link"
            href="?page={{ num_page }}">{{ num_page }}</a></li>
        {% else %}
        <li class="page-item" aria-current="page"><a class="page-link"
            href="?page={{ num_page }}">{{ num_page }}</a></li>
        {% endif %}
        <br />
        {% endfor %}
        <li class="page-item">
          {% if view_all.has_next %}
          <a class="page-link" href="?page={{ view_all.next_page_number }}">Next</a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>
</div>
{% endblock %}

{% block styles %}
{{ block.super }}
{% endblock %}

{% block extrajs %}
{{ block.super }}
<script>
  const onDownloadPDF = () => {
    var url = new URL(window.location.href);
    url.searchParams.append('mode', 'pdf');
    // window.location.href = url.search;
    window.open(url.href, '_blank');
  }
</script>
{% endblock %}